* {
    margin: 0;
    padding: 0;
    font-size: 1.4vmax;
}

body {
    color: #f5f5f5;
    background-color: #2b2b2b;
}

header {
    background-color: #3a7bd5;
}

header>h1 {
    text-align: center;
    padding: 1vmax;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

#first {
    width: 60vw;
    height: auto;
    background-color: #3c3f41;
    margin: 3vmax auto;
    padding: 5vmin;
    border-radius: 1vmax;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#first>div>h2 {
    font-size: 3vmax;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
}

#first>div {
    margin-bottom: 2vmax;
}

#second {
    width: 70vw;
    height: auto;
    display: none;
    background-color: #3c3f41;
    margin: 1vmax auto;
    padding: 5vmin;
    border-radius: 1vmax;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#second>#sec_head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#second>#sec_head>p {
    color: #ffffff;
}

#second>div>#timer {
    color: #e67e22;
    border: 1px solid #ecf0f1;
    font-weight: 900;
    border-radius: 1vmax;
    padding: 1vmax;
}

#second>#cont {
    text-align: center;
    color: #ffffff;
}

#second>#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vmax;
}

button {
    width: fit-content;
    padding: 2vmin 4vmin;
    font-size: 4vmin;
    font-weight: 900;
    background-color: #0065d8;
    color: #ffffff;
    border-radius: 1vmax;
    cursor: pointer;
    transition: all ease 0.3s;
}

button:hover {
    background-color: #35b891;
    transform: scale(1.4);
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-top: 1vmax;
    background-color: #2b2b2b;
}

footer>p {
    color: #d0ff00;
    text-align: center;
}

@media (max-width: 500px) {
    * {
        font-size: 2.5vmax;
    }

    #first,
    #second {
        width: 85vw;
        height: auto;
        margin: 20vmax auto;
    }
}